/* Stili Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color-scheme: dark;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* Stili Main */
h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    line-height: 2rem;
    margin-top: 30px;
}

.container-card {
    margin-top: 30px;
}

#grid {
    width: 100%;
}

#grid .member {
    width: 100%;
    height: 80px;
    border: 2px solid white;
}

